

// breakpoints mixin
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
      $value: map-get($breakpoints, $breakpoint);
       
      @media screen and (min-width: $value) {
          @content;
      }
  }
   
  //@warn "Unknown `#{$breakpoint}` in $breakpoints";
}

@mixin max-respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
      $value: map-get($breakpoints, $breakpoint);
       
      @media screen and (max-width: $value) {
          @content;
      }
  }
   
  //@warn "Unknown `#{$breakpoint}` in $breakpoints";
}

@mixin primary-grid-layout(){
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 0.5rem;
  justify-items: center;
  align-items: center;
  position: relative;
  padding-top: 2rem;
}