.icon {
  fill: #ff0000;
  width: 24px;
  height: 24px;
}

*{
  box-sizing: border-box;
}

body {
  width: 240px;
  padding: 24px;

}

svg {
  display: block;
}

.info-2fa {
  display: none;
  background-color: #ff0000;
}